#paper PDF
0_paper/
Citavi Attachments/

#LateX compile file
/**/*.aux
/**/*.fdb_latexmk
/**/*.fls
/**/*.log
/**/*.synctex.gz
/**/*.out
/**/*.run.xml
/**/*.bbl
/**/*.bcf
/**/*.blg

#Python
.venv/

#MC office 
**/*~*

2_theReview/notes/experiment-data_uniformity/